body {
		
  background: linear-gradient(rgba(12, 76, 98, 0.7), rgba(12, 76, 98, 0.7)), url(images/jumbotron2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  color: white;

}

ul {
	list-style: none;
	padding: 4%;
}

.inputBox {
	margin: 8px;
}

.tncNumStyle {
	font-weight: 700;
	color: green;
}

.multiTncIndent {
	margin-left: 16px;
}

.tncContentIndent {
	margin-left: 16px;
}

.tncNumberBigBox {
	display: flex;
}

.tncTextSpace {
	margin-left: 5px;
}


.active {
	background-color: #FEC52D!important;
}

#partyInviteStyle {
	font-size: 0.6em;
}

.enquirySelectionTitle {
	background-color:#FEC52D;
	border-radius: 10px;
	text-align: center;
	color:black;
}

input {
	border-radius: 10px;
}

.enquirySelectionOptions {
	background-color:#5cb85c;
	border-radius: 10px;
	text-align: center;
}

/*animations*/

.hidden
{
    display: none
}

.clickable {
    cursor: pointer;
}

/*faq*/

.faqQuestions {
	font-size: 1.5em;
	background-color: rgba(254,197,45, 0.4);
}

.faqQuestions a {
	color: white;
}

.eventTypeSelection a {
	color: #FEC52D;
}

.smallTagText {
	font-size: 0.5em;
}

.tncs {
	text-decoration: underline!important;
	font-size: 1.1em;
}

.tncs:hover {
  color: #FEC52D!important;
  transform: scale(1.1);
}

/*siteWide*/

h1 {
		font-size: 3em;
	
}

.container {
	width: 80%;
}

/*pageTitle informs padding*/
.pageTitle {
	padding-top: 5%;
	padding-bottom: 5%;
}

.socialMediaLinks {
	display: inline-flex;
}

.hero {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	color: white;
}

.navBar-bg {
	color: white;
}

.nav-link {
	color: white!important;
}

label{
    display:inline-block;
    width:100%;
}

select {
	display:inline-block;
    width:100%;
}


.SocialMediaIcon {
	padding-right: 10px!important;
}

.contactForm {
	margin-top: 2%;
}

@media screen and (min-width: 768px) {
.contactDivide {
	border-right: solid white 2px;
  }
}


/*event info*/

.eventInfo {
	font-size: 1.2em;
}

.eventPrices {
	font-size: 1.4em;
}

.smallText {
	font-size: 0.6em;
}

.iconsmallText {
	font-size: 0.3em;
}

.eventDescription {
	padding-bottom: 10%;
}

td:nth-of-type(2) {
	padding-left: 25%;
}

th:nth-of-type(2) {
	padding-bottom: 5%;
	padding-left: 25%;
}

#enquireButton {
	margin-top: 2%;
	margin-bottom: 9%;
}

.navbar-light .navbar-toggler {
	border-color: white;
}

#slightTopMargin {
	margin-top: 3%;
}

.navbar-toggler {
	border: 5px solid transparent;
}

/**/

.modal-footer {
	display: inline!important;
}

.hoverGrow:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.modal-body {
	background-color: #FEC52D;
}

.modal-header, .modal-footer {
   background-color: #44AF69
}

.eventTypeSelection {
	margin-top: 5%;
	padding: 2% 0;
	margin-bottom: 5%;
}

.btn-primary {
	background-color: #FEC52D;
}

.anGalMain {
	color:white;
}

/*@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) { 
  .homePageContent {
  	margin-top: 50px;
  }
}

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) { 
  .homePageContent {
  	font-size: 0.2em;
  }
}

@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 640px) { 
  .homePageContent {
  	font-size: 0.2em;
  }
}*/




